In [ ]:
#implement multiple linear regression using advertising dataset
import pandas as pd
dataset = pd.read_csv('./Advertising.csv')
dataset.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
x = dataset.iloc[:,:-1] 
y = dataset.iloc[:,-1]
x.head()

   Unnamed: 0     TV  Radio  Newspaper
0           1  230.1   37.8       69.2
1           2   44.5   39.3       45.1
2           3   17.2   45.9       69.3
3           4  151.5   41.3       58.5
4           5  180.8   10.8       58.4

In [ ]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=100)
m_r = LinearRegression()
m_r.fit(x_train,y_train)

LinearRegression()

In [ ]:
print('intercept:',m_r.intercept_)
print("coefficients:")
list(zip(x,m_r.coef_))

intercept: 2.72651896719829
coefficients:

[('Unnamed: 0', -0.0007206124853831273),
 ('TV', 0.045450009561214935),
 ('Radio', 0.1897713726429714),
 ('Newspaper', 0.004326980822801335)]

In [ ]:
y_pred = m_r.predict(x_test)
print("predictiion:{}".format(y_pred))

predictiion:[10.59056288 20.00913801 16.91137367 19.16660194 20.9427758  13.07527261
 11.79334998 12.32727044 20.60852325 20.9782953  10.7473639  19.51789691
  6.35914557 15.19561811  8.95033363  7.83087748 16.17168871 11.966368
 17.05502125 11.30380879 17.04780954  9.7715562  20.8769128  17.24672294
 15.13999812 21.95884066 19.17235681 10.08207959 19.36765911 14.85180325
 14.37363477  7.58377725  9.92124052 14.71747349  7.15675908 13.61696459
  7.53494617 11.65767611 13.41040002 15.22156404 17.12250601 13.56352033
 14.25042077 13.66951927 11.9535571   8.80272584 12.11969865 19.25547564
  9.12655405  5.0833357  16.269235   18.09818195 12.92625357 16.8854399
 17.89809565 12.40076495  4.28397614 11.23263976 16.08030326 13.51198086]